$c1-100: #f5f9fe;
$c1-300: #e2ebfc;
$c1-400:#c2d0da;
$c1-500: #656774;
$c1-600: #2a73dd;
$c1-700: #1d365e;
$c2-800:#68A7AD;
$c2-800:#a4c1c4;
$c2: #ffffff;
$c2-100:#EFEFEF;
$c3-100:black;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-2xl: 3rem;
$text-3xl: 4rem;

$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

@mixin text($fs: $text-base, $fw: $font-normal, $c: $c1-700) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin button($bg, $pd, $bd, $br) {
  background: $bg;
  border: $bd;
  padding: $pd;
  border-radius: $br;
}

@mixin input(){}
