@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.breacrumb {
  margin-top: 4rem;
}
.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  line-height: 1.25rem;
  margin-top: 2rem;
  .left {
    width: 100%;
  }
  .payment {
    display: flex;
    margin-top: 1rem;
    // display: none;
    .col {
      display: grid;
      .form-group {
        margin-top: 8px;
        input {
          border: none;
        }
      }
    }
  }
  .finish {
    display: flex;
    justify-content: space-between;
  }
  .btn-finish {
    display: flex;
    justify-content: flex-end;
    button {
      width: 180px;
    }
  }
  .total {
    ul {
      list-style-type: circle;
      margin-top: 2rem;
      li {
        margin-bottom: 1rem;
      }
    }
  }
  .promo-info {
    margin-top: 1rem;
  }
  .item {
    .qty {
      margin-right: 4rem;
    }
    .price {
      margin-right: 10rem;
    }
    .total {
      margin-right: 5rem;
    }
  }
}
@media screen and (max-width: 820px) {
  .body {
    display: block;
    .item {
      .qty {
        margin-right: 1.5rem;
      }
      .price {
        margin-right: 7rem;
      }
      .total {
        margin-right: 3rem;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .background {
    min-width: 1280px;
  }
  .cart {
    width: 1280px;
    display: grid;
    .item {
      width: 1280px;
    }
  }
  #summary {
    h1 {
      text-align: center;
    }
    width: 100%;
    .payment {
      .px-2 {
        width: 100%;
        display: flex;
        margin-bottom: 8px;
        .form-group {
          margin-right: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .body {
    display: block;
    .item {
      .qty {
       margin-left: 90px;
      }
      .price {
        margin-left: 5rem;
      }
      .total {
      }
    }
  }
}
