@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background: #f5f9fe;
  li {
    a {
      &:hover {
        color: $c2-800;
      }
    }
  }
}
.menu {
  padding-top: 2rem;
  .dropdown {
    button {
      background-color: $c2-800;
    }
    .active {
      color: black;
      background-color: $c2-900;
    }
    li {
      margin: 16px;
    }
  }
  .relative {
    #search-dropdown {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
.product {
  margin-top: 2rem;
  .grid {
    width: 100%;
    display: flex;
    justify-content:space-around;
    .col-span-4{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 .item{
 }
  }
  @media screen and (max-width:640px){
    display: grid;
    grid-template-columns: 1fr;
  }
}
}

.backToTop {
  a {
    text-decoration: none;
    color: $c2-800;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 187, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    i {
      transition: all 0.5s;
    }
    &:hover {
      background-color: #1773bdcc;
      transform: translateY(-5%);
      box-shadow: 0.125rem 0.125rem 1rem $c2-800;
      i {
        transform: rotate(180deg);
      }
    }
  }
}
// rgb(180, 180, 180)
