@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header {
  li {
    a {
      &:hover {
        color: $c2-700;
      }
    }
    
  }
  

   
  @media screen and (max-width: 768px) {
    li {
      margin-bottom: 8px;
      span {
        display: none;
      }
    }
    button{
      max-width: 120px;
      height: 70px;
      
    }
  }
}

.deal {
  .week {
    margin-bottom: 4px;
  }
  .background {
    background-position: center;
    background: url(../img/bg.png);
    background-size: cover;
  }
}

.coming-soon {
  z-index: 9999;
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .day,
  .hour,
  .minute,
  .second {
    font-weight: 900;
  }
  .container-day,
  .container-hour,
  .container-minute,
  .container-second {
    margin-right: 30px;
    height: 50px;
    width: 50px;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
  }
  .count-down {
    display: flex;
    justify-content: space-around;
  }
  h3 {
    margin-right: 8px;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 1rem;
    text-align: center;
  }
  @media screen and (max-width: 640px) {
    .coming-soon {
      font-size: 16px;
    }
  }
}

.product {
  margin-top: 2rem;
  .feature {
    h1 {
      margin: 2rem;
      @include text(2.5rem, 700, $c2-800);
    }
  }
  .grid {
    @media screen and (max-width: 1300px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      button {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1280px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      button {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr;
      button {
        font-size: 12px;
      }
    }
  }
}

.blog {
  margin-top: 2rem;
  .title {
    text-align: center;
    margin-bottom: 2rem;
    span {
      font-family: $font-family-1;
      @include text(2rem, 700, $c2-800);
    }
    h1 {
      @include text(2.5rem, 600);
    }
  }
  .grid {
    max-width: 100%;
    .blog-img {
      img {
        max-width: 100%;
      }
    }
    .blog-content {
      margin-top: 4px;
      ul {
        margin-bottom: 2px;
        li {
          font-size: 20px;
          color: #b2b2b2;
          list-style: none;
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
    @media screen and(max-width:820px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and(max-width:640px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
footer {
  margin-top: 4rem;
  border-top-right-radius: 300px;
  background-color: #dbe3e5;
  .row {
    .col {
      padding: 32px;
      .item {
        img {
          height: auto;
          width: 100%;
        }
        li {
          margin-bottom: 16px;
          list-style-type: none;
          i {
            margin-right: 8px;
          }
        }
        h4 {
          z-index: 0;
          &::after {
            content: "";
            width: 0;
            display: block;
            height: 2px;
            background-color: #4c5baf;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
          }
          &:hover {
            &::after {
              width: 10%;
            }
            color: $c2-800;
          }
          text-decoration: none;
          font-size: 32px;
        }
        .submit {
          margin-bottom: 1rem;
          div {
            input[type="text"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 16px;
            }
            input[type="submit"] {
              width: 100%;
              background-color: $c2-800;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.5s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
.backToTop {
  a {
    text-decoration: none;
    color: $c2-800;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 187, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    i {
      transition: all 0.5s;
    }
    &:hover {
      background-color: #1773bdcc;
      transform: translateY(-5%);
      box-shadow: 0.125rem 0.125rem 1rem $c2-800;
      i {
        transform: rotate(180deg);
      }
    }
  }
}

// rgb(180, 180, 180)
