@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  .navbar {
    font-weight: bold;
    display: flex;
    a {
      z-index: 0;
      &::after {
        content: "";
        width: 0;
        display: block;
        height: 2px;
        background-color: #4c5baf;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
        color: red;
      }
      color: $c1-100;
      text-decoration: none;
      font-size: 14px;
      margin-left: 20px;
    }
    .active {
      color: #68a7ad;
    }
  }
  .logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    span {
      @include text(35px, 900, #68a7ad);
      position: relative;
      top: 3px;
    }
  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    display: none;
    i {
      font-size: 25px;
      color: $c1-100;
    }
  }
  .container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
  }
}
.carousell {
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center center;
  background: url(../img/cat1.jpeg);
  .container {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    background-position: center;
    object-fit: cover;
    z-index: 1;
    max-width: 100%;
    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      min-height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
    }
    .button {
      background-color: #68a7ad;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
    }
    h1 {
      margin-bottom: 16px;
      font-size: xx-large;
      text-align: center;
    }
    p {
      font-size: larger;
    }
  }
  i {
    font-size: 40px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
  }
}
.services {
  margin-top: 2rem;
  text-align: center;
  .row {
    h4 {
      font-weight: 900;
    }
  }
}
.welcome {
  margin-top: 4rem;
  img {
    width: 100%;
    height: auto;
  }
  .content {
    span {
      color: #68a7ad;
    }
    p {
      margin-top: 1rem;
    }
    ul li {
      // text-align: center;
      line-height: 1.5;
      padding: 0.5em 0;
      list-style-type: none !important;
    }

    ul li:before {
      font-family: FontAwesome;
      content: "\f138";
      position: absolute;
      left: 8rem;
      color: $c2-800;
    }
  }
  .angle {
    font-weight: 900;
    cursor: pointer;
    .button {
      font-family: "Poppins", sans-serif;
      color: $c1-700;
      padding: 15px 30px;
      border-radius: 4px;
      background-color: transparent;
      outline: none;
      border: 1px solid $c2-800;
      font-size: 16px;
      position: relative;
      isolation: isolate;
    }
    .button:before {
      content: "";
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $c2-800;
      z-index: -1;
      transition: width 0.25s ease-in;
    }
    .button:hover:before {
      width: 100%;
    }
  }
}

.our-team {
  margin-top: 3rem;
  background-color: $c1-300;
  .container {
    .title {
      span {
        // @include font-text($font-family-1,
        // 1.5rem,
        // 400,
        // $c1-700);
        @include text(1.5rem, 400, $c1-700);
      }
    }
    .row.expert {
      .col {
        .item {
          .top {
            position: relative;
            margin-bottom: 1.5rem;
            img {
              width: 100%;
              border-radius: 10px;
            }
            &:hover .social-icon i {
              visibility: visible;
              opacity: 0.5;
            }
            .social-icon {
              position: absolute;
              bottom: 10%;
              transition: all 0.5s;
              i {
                background-color: white;
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
                border-radius: 50%;
                margin-left: 0.25rem;
                transition: all 0.5s;
                opacity: 5;
                visibility: hidden;
                &:hover {
                  background-color: $c1-700;
                  color: $c1-600;
                  opacity: 1;
                }
              }
            }
          }
          &:hover {
            .expert-info {
              h1 {
                color: $c1-300;
              }
            }
          }
          .expert-info {
            h1 {
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}
.testimonials {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  // height: 100%;
  .title {
    text-align: center;
    // @include font-text($font-family-2,
    // 2.5rem,
    // 400,
    // $color-gray-100);
    span {
      // @include font-text($font-family-1,
      // 400,
      // 20px,
      // $color-orange-300);
    }
  }
  .carousel {
    .carousel-indicators .active {
      background-color: $c2-800;
    }
    .carousel-indicators {
      bottom: 0;
      margin-bottom: -2rem;
      button {
        margin-right: 10px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
    }
    .carousel-inner {
      justify-content: center;
      color: $c1-700;
      .carousel-item {
        height: auto;
        img {
          object-fit: cover;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
        }
        .carousel-caption {
          position: initial;
          max-width: 550px;
          margin: auto auto;
          color: $c1-700;
          .top {
            i {
              color: $c2-800;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
.pricing-plan {
  header {
    text-align: center;
    font-weight: 700;
  }
  .row {
    margin: 0 auto;
    height: auto;
    width: 100%;
    gap: 30px;
    .col-md {
      background: $c2-100;
      .item {
        margin-top: 60px;
        text-align: center;
        ul {
          list-style-type: none;
          li {
            margin: 2rem;
          }
        }
        hr {
          border-bottom: 2px dashed $c2-800;
          width: 50%;
          margin: auto;
        }
      }
    }
    .shield {
      text-align: center;
      font-size: 50px;
    }
  }
  .button {
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 15px 30px;
    width: 200px;
    border-radius: 4px;
    background-color: $c2-800;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 16px;
    transform-style: preserve-3d;
    transition: all 0.2s linear;
  }
  .button:hover {
    transform: rotateY(-15deg);
  }
  @media screen and (max-width: 860px) {
    .shield {
      text-align: center;
    }
  }
}
.map {
  padding: 8px;
  height: 100%;
  background-color: $c2-100;
  .row {
    .left {
      .contact-info {
        i {
          color: $c2-800;
          margin-right: 8px;
          padding: 16px;
          border-radius: 4px;
        }

        a {
          text-decoration: none;
          letter-spacing: 0.5px;
          &:hover {
            text-decoration: underline;
          }
        }
        ul {
          gap: 8px;
          li {
          }
        }
      }
      .social-share {
        display: flex;
        .social-item {
          //  max-width: 15%;
          height: 3rem;
          width: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          cursor: pointer;
        }
        .social-item--facebook {
          background-color: #3b5999;
        }
        .social-item--twitter {
          background-color: #55acee;
        }
        .social-item--telegram {
          background-color: #0077b5;
        }
        .social-item--linkedin {
          background-color: #007ee5;
        }
      }
    }
  }
}
footer {
  border-top-right-radius: 300px;
  background-color: #dbe3e5;
  .row {
    .col {
      padding: 32px;
      .item {
        img {
          height: auto;
          width: 100%;
        }
        li {
          margin-bottom: 16px;
          list-style-type: none;
          i {
            margin-right: 8px;
          }
        }
        h4 {
          z-index: 0;
          &::after {
            content: "";
            width: 0;
            display: block;
            height: 2px;
            background-color: #4c5baf;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
          }
          //&:hover {
          //  &::after {
          //    width: 10%;
          //  }
          //  color: $c2-800;
          //}
          text-decoration: none;
          font-size: 32px;
        }
        .submit {
          margin-bottom: 1rem;
          div {
            input[type="text"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 16px;
            }
            input[type="submit"] {
              width: 100%;
              background-color: $c2-800;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.5s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
.backToTop {
  a {
      text-decoration: none;
      color: $c2-800;
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 100;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: rgba(0, 187, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      i {
          transition: all 0.5s;
      }
      &:hover {
          background-color: #1773bdcc;
          transform: translateY(-5%);
          box-shadow: 0.125rem 0.125rem 1rem $c2-800;
          i {
              transform: rotate(180deg);
          }
      }
  }
}

.blog-post {
	-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
	.blog-img {
		.overlay {
			position: absolute;
			opacity: 0;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.post-meta {
			position: absolute;
			opacity: 0;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			bottom: 5%;
			right: 5%;
			z-index: 1;
		}
	}
	.content {
		h1 {
			line-height: 1.2;
		}
		h2 {
			line-height: 1.2;
		}
		h3 {
			line-height: 1.2;
		}
		h4 {
			line-height: 1.2;
		}
		h5 {
			line-height: 1.2;
		}
		h6 {
			line-height: 1.2;
		}
		.title {
			font-size: 18px;
		}
	}
	&:hover {
		-webkit-transform: translateY(-7px);
		transform: translateY(-7px);
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		.blog-img {
			.overlay {
				opacity: 0.3;
			}
			.post-meta {
				opacity: 1;
			}
		}
	}
}
.avatar.avatar-ex-sm {
	height: 36px;
}
.shadow {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}
.text-muted {
	color: #8492a6 !important;
}
.section-title {
	.title {
		letter-spacing: 0.5px;
		font-size: 30px;
	}
}
.blog {
	.image {
		overflow: hidden;
		border-radius: 3px 0 0 3px;
	}
	.blog-details {
		padding: 0 20px 0 0;
		h2 {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
			color: #68a7ad;
		}
	}
	padding: 0;
}
.well {
	border: 0;
	padding: 20px;
	min-height: 63px;
	background: white;
	border-radius: 3px;
	position: relative;
	max-height: 100000px;
}
.text-note {
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}
.icon-box {
	font-size: 30px;
	margin-bottom: 33px;
	display: inline-block;
	color: #ffffff;
	height: 65px;
	width: 65px;
	line-height: 65px;
	background-color: #68a7ad;
	text-align: center;
	border-radius: 0.3rem;
}
.social-icon-style2 {
	li {
		a {
			display: inline-block;
			font-size: 14px;
			text-align: center;
			justify-items: center;
			color: #ffffff;
			background: #68a7ad;
			height: 41px;
			line-height: 41px;
			width: 41px;
			border-radius: 9%;
			&:hover {
				display: inline-block;
				font-size: 16px;
				text-align: center;
				justify-items: center;
				color: #ffffff;
				background: #68a7ad73;
				height: 41px;
				line-height: 41px;
				width: 41px;
				border-radius: 9%;
			}
		}
		vertical-align: middle;
		display: inline-block;
	}
	margin-bottom: 0;
	display: inline-block;
	padding-left: 10px;
	list-style: none;
}
.text-secondary {
	color: #366165 !important;
}
.text-secondary-hover {
	&:hover {
		color: #366165 !important;
	}
}
.display-25 {
	font-size: 1rem;
}
.card {
	img {
		height: 300px;
		width: 100%;
	}
	border: none;
	border-radius: 4px;
}
.img-info {
	padding: 20px;
	border-radius: 9%;
}
.img-more {
	border-radius: 10%;
	min-height: 63px;
	background-color: none;
	position: relative;
	max-height: 100000px;
}
.orther {
	font-weight: bolder !important;
}
.title-more {
	a {
		&:hover {
			font-weight: bold;
			font-size: 16px;
			text-decoration: none;
			color: #68a7ad;
		}
		font-weight: bold;
		font-size: 16px;
		color: #000000;
		text-decoration: none;
	}
}
.title-more-bonus {
	a {
		font-weight: bold;
		font-size: 14px;
		color: #0000009b;
		text-decoration: none;
		&:hover {
			font-weight: bold;
			font-size: 164x;
			text-decoration: none;
			color: #68a7ad;
		}
	}
}
.body {
	background-color: #e2ebfc29;
	border-radius: 1%;
}
footer {
  .row {
   
    .col {
      padding: 32px;
      .item {
        img {
          height: auto;
          width: 100%;
        }
        li {
          margin-bottom: 16px;
          list-style-type: none;
          i{
            margin-right: 8px;
          }
        }
        h4 {
          z-index: 0;
          &::after {
            content: "";
            width: 0;
            display: block;
            height: 2px;
            background-color: #4c5baf;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
          }
          &:hover {
            &::after {
              width: 10%;
            }
            color: $c2-800;
          }
          text-decoration: none;
          font-size: 32px;
        }
        .submit {
          margin-bottom: 1rem;
          div {
              input[type="text"] {
                  width: 100%;
                  padding: 12px 20px;
                  margin: 8px 0;
                  display: inline-block;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  margin-top: 16px;
              }
              input[type="submit"] {
                  width: 100%;
                  background-color: $c2-800;
                  color: white;
                  padding: 14px 20px;
                  margin: 8px 0;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  transition: all 0.5s;
                  &:hover {
                      opacity: 0.7;
                  }
              }
          }
      }
      }
    }
  }
}
