@import "./variable";

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  .nav {
    .dropdown-menu {
      background-color: white;
      li {
        a {
          color: black;
        }
      }
    }
  }
}
.contact-us {
  padding-top: 2rem;
  .title {
    span {
      @include text(1rem, 400, $c2-800);
      font-family: "Pacifico", cursive;
    }
    h1 {
      @include text(2.5rem, 400, black);
      margin-bottom: 1.5rem;
    }
  }
  .form {
    margin-bottom: 3rem;
    .row {
      input,
      textarea {
        background-color: #dbe3e5;
        border: none;
        @include text(1rem, 300, gray);
        &:hover,
        &:focus {
          border: 1px solid $c2-800;
        }
      }
      label {
        @include text(1rem, 300, gray);
      }
      button {
        background-color: $c2-800;
        @include text(1rem, 500, white);
        transition: all 0.5s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.contact-banner {
  background-image: url('../img/carousel3.jpg');
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  border-top-right-radius: 300px;
  background-color: #dbe3e5;
  .row {
    .col {
      padding: 32px;
      .item {
        img {
          height: auto;
          width: 100%;
        }
        li {
          margin-bottom: 16px;
          list-style-type: none;
          i {
            margin-right: 8px;
          }
        }
        h4 {
          z-index: 0;
          &::after {
            content: "";
            width: 0;
            display: block;
            height: 2px;
            background-color: #4c5baf;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
          }
          &:hover {
            &::after {
              width: 10%;
            }
            color: $c2-800;
          }
          text-decoration: none;
          font-size: 32px;
        }
        .submit {
          margin-bottom: 1rem;
          div {
            input[type="text"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 16px;
            }
            input[type="submit"] {
              width: 100%;
              background-color: $c2-800;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.5s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
.backToTop {
  a {
    text-decoration: none;
    color: $c2-800;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 187, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    i {
      transition: all 0.5s;
    }
    &:hover {
      background-color: #1773bdcc;
      transform: translateY(-5%);
      box-shadow: 0.125rem 0.125rem 1rem $c2-800;
      i {
        transform: rotate(180deg);
      }
    }
  }
}
