@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header {
  .nav {
    margin-left: 60px;
  }
  li {
    font-size: 14px;
    a {
      &:hover {
        color: $c2-700;
      }
    }
  }
  .table {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;

    .table-content {
      padding: 12px;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      display: flex;
      justify-content: space-between;
      h2 {
        @include text(20px, 900, black);
      }
      .product {
        margin-top: 0;
      }
    }
    @media screen and(max-width:820px) {
      .table-content {
        padding: 20px;
      }
    }
    @media screen and(max-width:576px) {
      color: red;
      .table-content {
        padding: 0px;
      }
    }
  }

  .login {
    i {
      font-size: 25px;
      color: white;
    }
    width: 50px;
    height: 50px;
    background: $c2-700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart {
    right: 15rem;
    position: absolute;
    width: 50px;
    height: 50px;
    background: $c2-700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    i {
      font-size: 25px;
      color: white;
    }
  }
  .count {
    position: absolute;
    height: 30px;
    width: 30px;
    background: lighten(#292d48, 65);
    border-radius: 500px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    color: #100b00;
    transform: translate(50%, -50%);
    z-index: 1;
  }
  @media screen and (max-width: 768px) {
    li {
      margin-bottom: 8px;
      span {
        display: none;
      }
    }
    button {
      max-width: 100px;
      height: 70px;
    }
  }
}

.deal {
  .week {
    margin-bottom: 4px;
  }
  .background {
    background-position: center;
    background: url(../img/bg.png);
    background-size: cover;
  }
}

.coming-soon {
  z-index: 9999;
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .day,
  .hour,
  .minute,
  .second {
    font-weight: 900;
  }
  .container-day,
  .container-hour,
  .container-minute,
  .container-second {
    margin-right: 30px;
    height: 50px;
    width: 50px;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
  }
  .count-down {
    display: flex;
    justify-content: space-around;
  }
  h3 {
    margin-right: 8px;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 1rem;
    text-align: center;
  }
  @media screen and (max-width: 640px) {
    font-size: 16px;
  }
}
.pagination{
  justify-content: flex-end;
}
.product {
  margin-top: 2rem;
  margin-bottom: 3rem;
  #categories {
    color: white;
    background-color: $c2-800;
    width: 220px;
  }
  .feature {
    h1 {
      margin: 2rem;
      @include text(2.5rem, 700, $c2-800);
    }
  }
  .grid {
    @media screen and (max-width: 1300px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      button {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1280px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      button {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr;
      button {
        font-size: 12px;
      }
    }
  }
}

.cart-btn {
  padding: 20px;
  border: none;
  background: $c2-700;
  position: relative;
  outline: none;
  border-radius: 5px;
  color: #292d48;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  position: relative;
  &:hover {
    background-color: $c2-800;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .count {
    position: absolute;
    height: 20px;
    width: 20px;
    display: inline-flex;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    border-radius: 400px;
    transition: all ease 1s;
    z-index: 1;
  }
}

.btn {
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  background-color: red;
  color: #ffffff;
  cursor: pointer;
  outline: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  &:hover {
    background-color: darken(#4caf50, 4%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
.pagination{
  a{
    color: #656774;
    &:hover{
      color: $c2-800;
    }
  }
}
footer {
  margin-top: 4rem;
  border-top-right-radius: 300px;
  background-color: #dbe3e5;
  .row {
    .col {
      padding: 32px;
      .item {
        img {
          height: auto;
          width: 100%;
        }
        li {
          margin-bottom: 16px;
          list-style-type: none;
          i {
            margin-right: 8px;
          }
        }
        h4 {
          z-index: 0;
          &::after {
            content: "";
            width: 0;
            display: block;
            height: 2px;
            background-color: #4c5baf;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
          }
          &:hover {
            &::after {
              width: 10%;
            }
            color: $c2-800;
          }
          text-decoration: none;
          font-size: 32px;
        }
        .submit {
          margin-bottom: 1rem;
          div {
            input[type="text"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 16px;
            }
            input[type="submit"] {
              width: 100%;
              background-color: $c2-800;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.5s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
.backToTop {
  a {
    text-decoration: none;
    color: $c2-800;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 187, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    i {
      transition: all 0.5s;
    }
    &:hover {
      background-color: #1773bdcc;
      transform: translateY(-5%);
      box-shadow: 0.125rem 0.125rem 1rem $c2-800;
      i {
        transform: rotate(180deg);
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .cart {
    position: fixed;
    top: 86px !important;
    right: 20px !important;
  }
}
@media screen and (max-width: 576px) {
  .cart {
    position: fixed;
    top: 290px !important;
    left: 70px !important;
  }
}
