<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>blogController</servlet-name>
        <servlet-class>com.controllers.blog.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogContentController</servlet-name>
        <servlet-class>com.controllers.blog.BlogContentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadServiceController</servlet-name>
        <servlet-class>com.controllers.AdminLoadServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadOrderController</servlet-name>
        <servlet-class>com.controllers.AdminLoadOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadUserController</servlet-name>
        <servlet-class>com.controllers.AdminLoadUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>com.controllers.blog.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetSelectedBlogController</servlet-name>
        <servlet-class>com.controllers.blog.AdminGetSelectedBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadProductController</servlet-name>
        <servlet-class>com.controllers.AdminLoadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceController</servlet-name>
        <servlet-class>com.controllers.LoadServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductController</servlet-name>
        <servlet-class>com.controllers.LoadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartController</servlet-name>
        <servlet-class>com.controllers.LoadCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoadServiceController</servlet-name>
        <url-pattern>/AdminService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadProductController</servlet-name>
        <url-pattern>/AdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadOrderController</servlet-name>
        <url-pattern>/AdminOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadUserController</servlet-name>
        <url-pattern>/AdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogContentController</servlet-name>
        <url-pattern>/BlogContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/AdminBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetSelectedBlogController</servlet-name>
        <url-pattern>/AdminGetSelectedBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceController</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductController</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>host</param-name>
        <param-value>imap.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>email</param-name>
        <param-value>thisisthientesting@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>Pets Paradise</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>6AAhn9T8K-wXpjL</param-value>
    </context-param>

</web-app>