* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  animation-name: appearance;
  animation-duration: 1.5s;
}

.sidebar {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 270px;
  background-color: #f5f9fe;
  position: fixed;
  height: 100%;
  overflow: auto;
}

img {
  width: 40px;
  height: 40px;
}

.LOGO {
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
}

.sidebar a {
  display: flex;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar a.active {
  border-left: 8px solid #68a7ad;
  color: #68a7ad;
}

.sidebar a:hover:not(.active, .unhoverContent) {
  background-color: #e2ebfc;
  color: #528388fe;
  transform: scale(1.05);
}

.unhoverContent:hover {
  transform: scale(1.1);
  color: black !important;
}

div.content {
  margin-left: 200px;
  padding: 16px;
  height: 1000px;
}

/* ===== ADMIN DROPDOWN ===== */

/* =============================== SEARCH ================================== */
.height {
  height: 10vh;
}

.searchBar {
  display: grid;
  grid-template-columns: 7fr 0.4fr 1fr;

  animation-name: botToTop;
  animation-duration: 1s;
  align-items: center;
}

body>div.res_cust>div>div>div.container.tm-mt-big.tm-mb-big {
  animation-name: botToTop;
  animation-duration: 1.3s;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 4px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.adminIcon {
  display: flex;

  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;

  background-color: #04aa6d;
  justify-content: center;
  align-items: center;
}

/* =================== COLLAPSE ============================= */
.collapsible {
  cursor: pointer;
  padding: 16px 32px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.contentCollapse {
  padding: 16px 32px 0px;
  overflow: hidden;
  font-size: 16px;
  max-height: 0px;
  transition: all 0.3s;
}


/* body */
.tm-product-img-dummy {
  max-width: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #aaa;
}

.tm-product-img-edit {
  max-width: 100%;
  position: relative;
}

.tm-product-img-edit i {
  display: none;
  position: absolute;
}

.tm-product-img-edit:hover i {
  display: block;
}

.tm-upload-icon {
  background: #455c71;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
}

.button button:hover {
  border-color: #68a7ad00;
  background-color: #5bbcc5ab;
}

.button {
  --color: #68a7ad;
  color: white;
  padding: 15px 30px;
  width: 200px;
  border-radius: 4px;
  background-color: var(--color);
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 16px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:hover {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes botToTop {
  0% {
    opacity: 0;
    margin-top: 300px;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


/* ============================== RESPONSIVE ==================================== */

@media screen and (max-width: 991px) {
  .content {
    width: 90%;
  }

  .res_cust {
    padding-left: 5%;
    padding-right: 5%;
  }

  .searchBar {
    padding-left: 2vh !important;
    width: 80%;

  }

  .box_cust_rs {
    padding-right: 10vh;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }

  .box_cust_rs {
    padding-right: unset !important;
  }

  .container .row {
    max-width: 100vh;
  }
}


@media screen and (max-width: 576px) {

  .Search_414rs {
    display: none !important;
  }

  .left-pan {
    display: none !important;
  }

}

@media screen and (max-width: 414px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .container{
    display: contents;
  }
}
