
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    animation-name: appearance;
    animation-duration: 1.5s;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes botToTop {
    0% {
        opacity: 0;
        margin-top: 300px;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* =============================== SIDE BAR ================================== */
.sidebar {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #f5f9fe;
    position: fixed;
    height: 100%;
    overflow: auto;
}

img {
    width: 40px;
    height: 40px;
}

.LOGO {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 24px;

    display: flex;
    align-items: center;

}

.sidebar a {
    display: flex;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar a.active {
    border-left: 8px solid #68A7AD;
    color: #68A7AD;
}

.sidebar a:hover:not(.active, .unhoverContent) {
    background-color: #e2ebfc;
    color: #528388fe;
    transform: scale(1.05);

}

.unhoverContent:hover {
    transform: scale(1.1);
    color: black !important;
}

div.content {
    margin-left: 200px;
    padding: 16px;
    height: 1000px;
}

/* ===== ADMIN DROPDOWN ===== */


/* =============================== SEARCH ================================== */
.height {
    height: 10vh;
}

.searchBar {
    display: grid;
    grid-template-columns: 7fr 0.4fr 1fr;

    animation-name: botToTop;
    animation-duration: 2s;
}

.form {
    position: relative;
}

.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}

.form span {

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {

    height: 55px;
    text-indent: 4px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.adminIcon {
    display: flex;

    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;

    background-color: #04AA6D;
    justify-content: center;
    align-items: center;
}


/* =================== COLLAPSE ============================= */
.collapsible {
    cursor: pointer;
    padding: 16px 32px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.contentCollapse {
    padding: 16px 32px 0px;
    overflow: hidden;
    font-size: 16px;
    max-height: 0px;
    transition: all 0.3s;
}




/* ============================== RESPONSIVE ==================================== */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}